<app-navbar></app-navbar>

<main class="p-6 space-y-6">
  <app-input
    label="Name"
    type="text"
    placeholder="Enter name"
    [value]="name"
    (valueChange)="name = $event"
    customClass="w-48"
  ></app-input>

  <app-input
    label="Email"
    type="email"
    placeholder="Enter email"
    [value]="email"
    (valueChange)="email = $event"
    customClass="w-48"
  ></app-input>

  <app-textarea
    label="Comment"
    placeholder="Write here..."
    [value]="comment"
    (valueChange)="comment = $event"
    customClass="w-96"
  ></app-textarea>

  <app-dropdown
    label="Choose an option"
    [options]="dropdownOptions"
    [value]="selectedOption"
    (valueChange)="selectedOption = $event"
    customClass="w-64"
  ></app-dropdown>

  <app-radio
    [options]="radioOptions"
    [value]="selectedRadio"
    (valueChange)="selectedRadio = $event"
    customClass="w-64"
  ></app-radio>

  <div class="flex w-full justify-around p-4">
    <app-checkbox
      label="Accept Terms"
      [checked]="acceptedTerms"
      (checkedChange)="acceptedTerms = $event"
    ></app-checkbox>

    <app-toggle
      [enabled]="toggleEnabled"
      (enabledChange)="toggleEnabled = $event"
    ></app-toggle>

    <app-date-picker customClass="w-64"></app-date-picker>
    <app-time-picker customClass="w-48"></app-time-picker>
  </div>

  <app-table
    [headers]="tableHeaders"
    [rows]="tableRows"
    customClass="min-w-full mb-6"
  ></app-table>

  <app-grid [items]="gridItems"></app-grid>

  <app-card title="Card Title">
    <p>This is card content inside a <code>ng-content</code> slot.</p>
  </app-card>

  <app-button label="Click me" type="button"></app-button>
  <router-outlet></router-outlet>
</main>
